

span {
    background-color: blueviolet;
    border-radius: 50%;
}

.row {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 800px;
}

.container {
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgreen;

}